@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="text-light display-4">Welcome To The Page!</h1>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="row mt-5 justify-content-center">
            <div class="col-md-5">
                <a href="@Url.Action("MyLikedSongs", "Songs")" class="text-decoration-none">
                    <div class="card text-center " style="background-color: #2e2c2c; border-radius: 10px;">
                        <div class="card-body">
                            <h5 class="card-title text-light">Liked Songs</h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-5">
                <a href="@Url.Action("Index", "Playlists")" class="text-decoration-none">
                    <div class="card text-center " style="background-color: #2e2c2c; border-radius: 10px;">
                        <div class="card-body">
                            <h5 class="card-title text-light">Playlists</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row mt-5 justify-content-center">
            <div class="col-md-5">
                <a href="@Url.Action("Browse", "Home")" class="text-decoration-none">
                    <div class="card text-center " style="background-color: #2e2c2c; border-radius: 10px;">
                        <div class="card-body">
                            <h5 class="card-title text-light">Browse</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-5">
                <a href="@Url.Action("Privacy", "Home")" class="text-decoration-none">
                    <div class="card text-center " style="background-color: #2e2c2c; border-radius: 10px;">
                        <div class="card-body">
                            <h5 class="card-title text-light">Privacy</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="col-md-5">
                <a href="@Url.Action("MyLikedPlaylists", "Playlists")" class="text-decoration-none">
                    <div class="card text-center " style="background-color: #2e2c2c; border-radius: 10px;">
                        <div class="card-body">
                            <h5 class="card-title text-light">Liked Playlists</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    }
    else
    {
        <div class="text-center mt-5">
            <p class="text-warning">Please log in to access your Liked Songs, Privacy, and Browse content.</p>
        </div>
    }
</div>
