@model ArtistApplication.Domain.ViewModel.SongDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Song Details</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Title)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Album)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Album.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Length)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Song.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>