@model IEnumerable<ArtistApplication.Domain.ViewModel.LikedSongsViewModel>
@{
    ViewData["Title"] = "My Liked Songs";
}

<div class="container container-lg">
    <h2 class="text-center mb-4">Liked Songs</h2>
    <h6 class="text-center mb-4">These are the Songs that You have liked!</h6>

    @if (Model != null && Model.Any())
    {
        <div class="container container-md">
        <table class="table table-transparent custom-table border-dark">
            <thead>
                <tr>
                    <th class="border-dark" style="color:white"></th>
                    <th class="border-dark"  style="color:white">Title </th>
                        <th class="border-dark" style="color:white">Artist </th>
                    <th class="border-dark" style="color:white"></th>
                    <th class="border-dark"  style="color:white"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var isLiked = ViewBag.LikedSongs != null && ((List<Guid>)ViewBag.LikedSongs).Contains(item.Song.Id);

                    <tr>
                        <td>
                            @if (!string.IsNullOrEmpty(item.Album?.PictureUrl))
                            {
                                var imageUrl = Url.Content(item.Album.PictureUrl);
                                <img src="@imageUrl" alt="Album Picture" class="img-fluid image-margin" style="max-width: 70px; height: auto;" />
                            }
                            else
                            {
                                <p>No picture available.</p>
                            }
                        </td>

                        <td>
                            <div>
                                <strong style="color:white;margin-top:30px;">@item.Song?.Title</strong>
                                <br />
                                <em style="color:white">@item.Album?.Title</em>
                            </div>
                        </td>

                        <td>
                            @if (!string.IsNullOrEmpty(item.Song?.FileName))
                            {
                                var audioFileUrl = Url.Content($"~/uploads/{item.Song.FileName}");
                            
                            <div class="custom-audio-player" data-audio-url="@audioFileUrl">
                                <button class="play-pause-btn">
                                        <i class="bi bi-play-fill"></i>
                                </button>
                                <input type="range" class="seek-bar" value="0" min="0" max="100" step="1">
                                <span class="current-time">0:00</span> / <span class="duration">0:00</span>
                                <input type="range" class="volume-bar" value="100" min="0" max="100" step="1">
                            </div>
                            }
                            else
                            {
                            <p>No audio file available.</p>
                            }
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle custom-burger-icon" type="button" id="dropdownMenuButton-@item.Song?.Id" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="burger-lines"></span>
                                    <span class="burger-lines"></span>
                                    <span class="burger-lines"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton-@item.Song?.Id">
                                    <li>
                                        @if (isLiked)
                                        {
                                            @using (Html.BeginForm("Unlike", "Songs", FormMethod.Post))
                                            {
                                                @Html.Hidden("songId", item.Song?.Id)
                                                <button type="submit" class="dropdown-item">Dislike</button>
                                            }
                                        }
                                        else
                                        {
                                            @using (Html.BeginForm("Like", "Songs", FormMethod.Post))
                                            {
                                                @Html.Hidden("songId", item.Song?.Id)
                                                <button type="submit" class="dropdown-item">Like</button>
                                            }
                                        }
                                    </li>
                                    <li>
                                        <a asp-action="Edit" asp-route-id="@item.Song?.Id" class="dropdown-item">Edit</a>
                                    </li>
                                    <li>
                                        <a asp-action="Details" asp-route-id="@item.Song?.Id" class="dropdown-item">Details</a>
                                    </li>
                                    <li>
                                            <a asp-action="Delete" asp-route-id="@item.Song?.Id" class="dropdown-item">Delete</a>
                                    </li>
                                        <li>
                                            @if (ViewBag.Playlists != null && ((List<ArtistApplication.Domain.Domain.Playlist>)ViewBag.Playlists).Any())
                                            {
                                                @using (Html.BeginForm("AddToPlaylist", "Songs", FormMethod.Post))
                                                {
                                                    @Html.Hidden("songId", item.Song?.Id)
                                                    <div class="form-group">
                                                        <select name="playlistId" class="form-control">
                                                            <option value="">Select Playlist</option>
                                                            @foreach (var playlist in (List<ArtistApplication.Domain.Domain.Playlist>)ViewBag.Playlists)
                                                            {
                                                                <option value="@playlist.Id">@playlist.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <button type="submit" class="dropdown-item">Add to Playlist</button>
                                                }
                                            }
                                        </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div >
    }
    else
    {
        <p class="text-left">You haven't liked any songs yet.</p>
    }
</div>
